* {
    /*font-family: "Helvetica Neue", Helvetica, Arial;*/
    font-family:'Noto Sans Mono';
    line-height: 1.5em;
    box-sizing: border-box;
}

:root {
    --wBody: 100vw;
    --hBody: 100vh;
    --hFooter: calc((var(--hBody) * 0.05));
    --hHeader: calc((var(--hBody) * 0.05));
    --hMain: calc((var(--hBody) * 0.9));

}

body {
    width: var(--wBody);
    height: var(--hBody);
    margin: auto;
}

header {
    width: var(--wBody);
    height: var(--hHeader);
    background-color: burlywood;
}
:root::grammar-error {
    text-decoration-line: grammar-error;
}
:root::spelling-error {
    text-decoration-line: spelling-error;
    color: rgb(255, 0, 25); 
}
main {
   /* width: var(--wBody);*/
    height: var(--hMain);
    background-color: darkgray;
    display: flex;
    justify-content: baseline;

}

.mainR {
    width: calc(var(--wBody)*0.8);
    height: var(--hMain);
    background-color: hsl(110 75% 75%);
    overflow: auto;
    padding: 1em;
}

.lateral {
    width: calc(var(--wBody) * 0.2);
    height: var(--hMain);
    background-color: rgb(200, 250, 207);
    overflow: auto;
    padding: 1em;
}

footer {
    width: var(--wBody);
    height: var(--hFooter);
    background-color: blanchedalmond;
}

pre, pre samp  {
    width: 90%;
    padding: 5px;
    margin: auto auto;
    border-radius: 5px;
    background-color: rgb(206, 206, 244);
}
pre code span span{
    font-family: 'Noto Sans Display';
}

code ,samp{
    color: rgb(52, 47, 79);
    font-weight: 500;     
    font-family: 'Noto Sans Display';
}
 p{
    margin: 0.5em;
 }
em{
    background-color: rgb(230, 255, 236);
    border-radius: 1em;
}
strong{
    background-color: rgb(244, 250, 245);
        border-radius: 1em;
}
blockquote{
    background-color: aquamarine;
    padding: 5px;
    filter: drop-shadow(1px 1px 2px black);
    width:max-content;
}

.cartucho {
    background-color:hsl(140, 75%,75%);
    width: fit-content;
    border-radius: 1em;
    padding:1em;
    border: 1px solid hsl(110, 75%,55%);
}
tbody   tr td:first-child{ /*primera columna tabla*/
    padding: 5px;
    max-width: 20em;
    
} 