---
const {msg} = Astro.props;
---
<style>
 
cite a{
    margin:20px 15px 30px 10px;
    color:gray;
}
</style>
<footer> 
   <cite>  <a href="https://github.com/eanton71/"> &copy; Enrique Anton Lopez</a></cite>
</footer>