---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Lateral from "../components/Lateral.astro";
import Main from "../components/Main.astro";
import "../styles/global.css";
const { title, headings,  css } = Astro.props.frontmatter || Astro.props;
---

<!doctype html>
<html lang="es-ES">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=1"
    />
    <slot name="head" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Mono:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body contenteditable="false" spellcheck="true">
    <Header msg="header" />

    <Main>
      <Lateral headings={headings}/> 
      <section class="mainR">
        <h1>{title}</h1>
        <slot />
      </section>
    </Main>
    <Footer msg="footer" />
  </body>
</html>
